[Unit]
Description=thirdfrostbite jenkins client service
After=jenkins.service
Requires=jenkins.service

[Service]
ExecStart=/usr/bin/node /opt/thirdfrostbite/server/server.express.js

[Install]
WantedBy=multi-user.target